.body{
margin:0;
}
.nav-link{
font-family: Poppins;
color: #1d224c;
}
.main_head_one,.main_head_two,.main_paraone{
font-family: Poppins;
}
.main_container{
height: auto;
} 
.main_paraone{
    font-family: Poppins;
    font-size: 18px;
    letter-spacing: 1px;
}
.section_one{
background: url('/images/bg_pic.webp');
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
background-blend-mode: multiply;
background-repeat: no-repeat;
height: auto;
}

.section_two{
height: auto;
background-color: #1d224c;
position: relative;
padding: 50px 0;

}
.heading_one,.card-body{
font-family: poppins;
height: auto;
}
.card:hover{
transition: .2s ease-in ;
box-shadow: whitesmoke 0px 8px 24px;
}
.section_three{
height: auto;
}
.work_column1{
position: relative;
z-index: 1;
}
.work_column2{
background-color: #1d224c;
position: relative;
}
h3.intro_heading{
font-size: Poppins;
color: #1d224c;
}
.description_para_one{
font-family: Poppins;
}
.intro_description{
color: whitesmoke;
position: relative;
}
.section_four{
    background-color: #1d224c;
}
.trust_heading{
    font-family: Poppins;
}
.head_one{
    color: white;
    font-family: Poppins;
}
.para_one{
    color: darkgray;
    font-family: Poppins;
}
.trust_column{
    backdrop-filter: blur(5px) contrast(92%);
    -webkit-backdrop-filter: blur(5px) contrast(92%);
}
.trust_column:hover{
    background: linear-gradient(90deg, rgba(211,211,215,0) 0%, rgba(29,34,76,1) 40%, rgba(0,212,255,0.3702731092436975) 100%);
    border-color: #1d224c;
    transition: 2s ease-in;
}


/* footer  */
.footer_main_section{
    border-top: 5px solid #1d224c;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.footer_logo{
    width: 100px;
    cursor: pointer;
}
.brand_description,.footer_head{
font-family: Poppins;
letter-spacing: 1px;
}
.brand_description{
    font-size: 15px;
}
.footer_head{
    color: #1d224c;
}
.footer_list{
    list-style: none;
}
.footer_link{
    color: gray;
    font-family: Poppins;
    font-size: 15px;
}
.footer_link:hover{
    color: #1d224c;
    transition: .4s ease-in;
}
/* Copyright section  */
.copyright_section{
    background-color: #1d224c;
}
.copyright_para{
    font-size: 15px;
    font-family: Poppins;
}
.socialicon_listitem{
    padding: 5px 10px;
    margin: 0 5px;
    border:1px solid whitesmoke;
    border-radius: 50%;
}
.socialicon_link{
    font-size: 22px;
    color: whitesmoke;
}


/* Shapes CSS */
.shape_one{
width: 100px !important;
position: absolute;
left: 0;
animation: move 10s linear 1s infinite alternate;
}
.shape_two{
width: 100px !important;
position: absolute;
right: 0;
animation: move_square 10s linear .2s infinite alternate;
}
.shape_three{
position: absolute;
z-index: 0;
opacity: .3;
width: 100px !important;
left: 20px;
top: 20px;
}
.shape_four{
    height: 100px !important;
    width: 100px !important;
    border-radius: 50%;
    opacity: .5;
    left:15px;
    background: rgb(211,211,215);
    box-shadow: rgba(245, 245, 245, 0.39) 0px 5px 50px 0px;
background: linear-gradient(90deg, rgba(211,211,215,1) 0%, rgba(29,34,76,0.5) 40%, rgba(0,212,255,0.3702731092436975) 100%);
}
.shape_five{
    height: 120px !important;
    width: 120px !important;
    border-radius: 50%;
    opacity: .5;
    right:-30px;
    top: 50px;
    box-shadow: rgba(245, 245, 245, 0.39) 0px 5px 50px 0px;
    background: rgb(211,211,215);
background: linear-gradient(90deg, rgba(211,211,215,1) 0%, rgba(29,34,76,0.5) 40%, rgba(0,212,255,0.3702731092436975) 100%);
}
.shape_six{
    height:150px !important;
    width: 150px !important;
    border-radius: 50%;
    opacity: .5;
    left:100px;
    bottom: 50px;
    box-shadow: rgba(245, 245, 245, 0.39) 0px 5px 50px 0px;
    background: rgb(211,211,215);
background: linear-gradient(90deg, rgba(211,211,215,1) 0%, rgba(29,34,76,0.5) 40%, rgba(0,212,255,0.3702731092436975) 100%);
}
.shape_seven{
    height:180px !important;
    width: 180px !important;
    border-radius: 50%;
    opacity: .5;
    right:120px;
    bottom:60px;
    box-shadow: rgba(245, 245, 245, 0.39) 0px 5px 50px 0px;
    background: rgb(211,211,215);
background: linear-gradient(90deg, rgba(211,211,215,1) 0%, rgba(29,34,76,0.5) 40%, rgba(0,212,255,0.3702731092436975) 100%);
}


/* KeyFrames  */
@keyframes move {
0%{
    top: 0;
    left: 0;
}
30%{
    left:30%;
}
50%{
    top: 50%;
    right: 60%;
}
70%{
    top: 60%;
    left: 50%;
}
100%{
    top: 30%;
    left: 40%;
}

}
@keyframes move_square {
0%{
    top: 0;
    right: 0;
}
30%{
    top: 20%;
    right: 50%;
}
60%{
    top: 20%;
    right: 40%;
}
100%{
    top: 60%;
    right: 20%;
}

}

@media  (min-width:320px) and (max-width:414px){
    .shape_six{
        height: 110px !important;
        width: 110px !important;
        left: 10px;
        bottom: 150px;
    }
    .shape_seven{
        height: 100px !important;
        width: 100px !important;
    right:0;
    bottom: 100px;
    }
    .trust_column{
        backdrop-filter: blur(5px) contrast(90%);
        -webkit-backdrop-filter: blur(5px) contrast(90%);
    }
}
@media (min-width:414px) and (max-width:1400px){
    .shape_six{
        height: 110px !important;
        width: 110px !important;
        left: 5px;
        bottom: 170px;
    }
    .shape_seven{
        height: 150px !important;
        width: 150px !important;
    right:20px;
    bottom: 90px;
    }
    .trust_column{
        backdrop-filter: blur(5px) contrast(90%);
        -webkit-backdrop-filter: blur(5px) contrast(90%);
    }   
}





